html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}
body {
	line-height: 1
}
ol,
ul {
	list-style: none
}
blockquote,
q {
	quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
body {
	-webkit-text-size-adjust: none
}
mark {
	background-color: transparent;
	color: inherit
}
input::-moz-focus-inner {
	border: 0;
	padding: 0
}
input[type="text"],
input[type="email"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none
}
*,
*:before,
*:after {
	box-sizing: border-box
}
body {
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.0;
	word-wrap: break-word;
	overflow-x: hidden;
	background-color: #FFF
}
strong {
	color: inherit;
	font-weight: bolder
}
em {
	font-style: italic
}
code {
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: normal;
	text-indent: 0;
	letter-spacing: 0;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	background-color: rgba(144, 144, 144, 0.25);
	border-radius: 0.25em
}
mark {
	background-color: rgba(144, 144, 144, 0.25)
}
a {
	-moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	color: inherit;
	text-decoration: none
}
s {
	text-decoration: line-through
}
html {
	font-size: 18pt
}
#wrapper {
	-webkit-overflow-scrolling: touch;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	z-index: 2;
	overflow: hidden
}
#main {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: relative;
	max-width: 100%;
	z-index: 1;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	text-align: center;
	-moz-transition: opacity 1s ease-in-out 0s;
	-webkit-transition: opacity 1s ease-in-out 0s;
	-ms-transition: opacity 1s ease-in-out 0s;
	transition: opacity 1s ease-in-out 0s
}
#main>.inner {
	position: relative;
	z-index: 1;
	border-radius: inherit;
	padding: 1.25rem 1rem;
	max-width: 100%;
	width: 37rem
}
#main>.inner>header {
	margin-bottom: 1.125rem;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit
}
#main>.inner>footer {
	margin-top: 1.125rem;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit
}
#main>.inner>*>:first-child {
	margin-top: 0 !important
}
#main>.inner>*>:last-child {
	margin-bottom: 0 !important
}
#main>.inner>.full {
	margin-left: calc(-1rem);
	width: calc(100%+2rem+0.4725px);
	max-width: calc(100%+2rem+0.4725px)
}
#main>.inner>.full:first-child {
	margin-top: -1.25rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit
}
#main>.inner>.full:last-child {
	margin-bottom: -1.25rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit
}
#main>.inner>.full.screen {
	width: 100vw;
	max-width: 100vw;
	position: relative;
	border-radius: 0 !important;
	left: 50%;
	right: auto;
	margin-left: -50vw
}
#main>.inner>*>.full {
	margin-left: calc(-1rem);
	width: calc(100%+2rem+0.4725px);
	max-width: calc(100%+2rem+0.4725px)
}
#main>.inner>*>.full.screen {
	width: 100vw;
	max-width: 100vw;
	position: relative;
	border-radius: 0 !important;
	left: 50%;
	right: auto;
	margin-left: -50vw
}
#main>.inner>header>.full:first-child {
	margin-top: -1.25rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit
}
#main>.inner>footer>.full:last-child {
	margin-bottom: -1.25rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit
}
body.is-loading #main {
	opacity: 0
}
#main>.inner>section {
	-moz-transition: opacity 0.5s ease-in-out 0.25s, min-height 0.25s ease-in-out, max-height 0.25s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out 0.25s, min-height 0.25s ease-in-out, max-height 0.25s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out 0.25s, min-height 0.25s ease-in-out, max-height 0.25s ease-in-out;
	transition: opacity 0.5s ease-in-out 0.25s, min-height 0.25s ease-in-out, max-height 0.25s ease-in-out
}
#main>.inner>section.inactive {
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	opacity: 0
}
.buttons {
	cursor: default;
	padding: 0;
	letter-spacing: 0
}
.buttons li a {
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	max-width: 100%
}
#buttons01 {
	width: calc(100% + 0.5rem);
	margin-left: -0.25rem
}
#buttons01 li {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 0.5rem);
	margin: 0.25rem
}
#buttons01 li a {
	display: block;
	padding: 0.625rem 1.125rem;
	font-size: 0.825em;
	font-family: 'Source Sans Pro', sans-serif;
	;
	letter-spacing: 0.125rem;
	padding-left: calc(0.225rem + 1.125rem);
	font-weight: 400;
	border-radius: 1.625rem;
	color: #474747;
	border: solid 1px #CCC
}
#buttons01 li a:hover {
	color: #309EDB;
	border-color: #309EDB
}
#buttons02 li {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 0.5rem);
	margin: 0.25rem
}
#buttons02 li a {
	display: block;
	padding: 0.425rem 0.625rem;
	font-size: 0.625em;
	font-family: 'Source Sans Pro', sans-serif;
	;
	letter-spacing: 0.125rem;
	font-weight: 400;
	border-radius: 1.625rem;
	color: #474747;
	border: solid 1px #CCC
}
#buttons02 li a:hover {
	color: #309EDB;
	border-color: #309EDB
}
hr {
	width: 100%;
	position: relative;
	padding: 0;
	border: 0;
	height: 1.625rem;
	line-height: 1.625rem
}
hr:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	background-color: #CCC;
	height: 1px
}
#divider02 {
	height: 0.5rem;
	line-height: 0.5rem
}
#divider02:before {
	width: 6%
}
.image {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	display: block
}
.image a,
.image span {
	position: relative;
	max-width: 100%;
	display: inline-block;
	vertical-align: top
}
.image a img,
.image span img {
	display: block
}
.image img {
	width: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: top
}
.image.full img {
	display: block
}
.image.full:first-child img {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit
}
.image.full:last-child img {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit
}
.image.full a,
.image.full span {
	display: block
}
#image01 {
	margin-top: 1.875rem !important;
	margin-bottom: 1.875rem !important
}
#image01 a,
#image01 span {
	border-radius: 100%
}
#image01 img {
	width: 9rem;
	border-radius: 100%
}
h1 br + br,
h2 br + br,
h3 br + br,
p br+br {
	display: block;
	content: ' ';
	margin-top: 1.125rem
}
h1 .li,
h2 .li,
h3 .li,
p .li {
	display: list-item;
	padding-left: 0.5em;
	margin: 0.75em 0 0 1em
}
h1,
h2,
h3,
h4 {
	text-transform: uppercase;
	color: #474747;
	font-family: 'Source Sans Pro', sans-serif;
	;
	letter-spacing: 0.2rem;
	width: calc(100%+0.4rem);
	line-height: 1.875;
	font-weight: 600
}
h1 {
	font-size: 1.6em
}
h2 {
	font-size: 1.4em
}
h3 {
	font-size: 1.2em
}
h4 {
	font-size: 1em
}
p {
	color: #474747;
	font-family: 'Source Sans Pro', sans-serif;
	;
	line-height: 1.875;
	letter-spacing: 0.1rem;
	width: calc(100%+0.4rem)
}
.icons {
	cursor: default;
	padding: 0;
	letter-spacing: 0;
	font-size: 1em;
	width: calc(100% + 0.75rem);
	margin-left: -0.375rem
}
.icons li {
	display: inline-block;
	vertical-align: middle;
	margin: 0.375rem
}
.icons li a {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	border-radius: 100%;
	width: 2em;
	height: 2em;
	color: #474747;
	border: solid 1px #CCC
}
.icons li a:hover {
	color: #309EDB;
	border-color: #309EDB
}
ul.work {
	list-style: none
}
ul.work li {
	display: block;
	margin-bottom: 20px
}
ul.work li h4 {
	line-height: 1.3 !important;
	letter-spacing: 0.1rem !important
}
ul.work li p {
	line-height: 1.3 !important;
	margin-bottom: 10px;
	font-size: 0.875rem
}
ul.work li a {
	padding: 0.2rem 1rem;
	color: #474747;
	border: solid 1px #CCC;
	font-size: 0.825em;
	font-family: 'Source Sans Pro', sans-serif;
	;
	letter-spacing: 0.125rem;
	font-weight: 400;
	border-radius: 1.625rem;
	cursor: pointer
}
ul.work li a:hover {
	color: #309EDB;
	border-color: #309EDB
}
#footer p {
	font-size: 0.875rem
}
#footer a:hover {
	color: #309EDB;
	border-color: #309EDB
}
@media (max-width: 1680px) {
	html {
		font-size: 13pt
	}
}
@media (max-width: 1280px) {
	html {
		font-size: 13pt
	}
}
@media (max-width: 980px) {
	html {
		font-size: 11pt
	}
}
@media (max-width: 736px) {
	html {
		font-size: 11pt
	}
	#main>.inner {
		padding: 1.25rem 1rem
	}
	#main>.inner>header {
		margin-bottom: 1.125rem
	}
	#main>.inner>footer {
		margin-top: 1.125rem
	}
	#main>.inner>*>* {
		margin-top: 1.125rem;
		margin-bottom: 1.125rem
	}
	#main>.inner>.full {
		margin-left: calc(-1rem);
		width: calc(100%+2rem+0.4725px);
		max-width: calc(100%+2rem+0.4725px)
	}
	#main>.inner>.full:first-child {
		margin-top: -1.25rem !important
	}
	#main>.inner>.full:last-child {
		margin-bottom: -1.25rem !important
	}
	#main>.inner>.full.screen {
		margin-left: -50vw
	}
	#main>.inner>*>.full {
		margin-left: calc(-1rem);
		width: calc(100%+2rem+0.4725px);
		max-width: calc(100%+2rem+0.4725px)
	}
	#main>.inner>*>.full.screen {
		margin-left: -50vw
	}
	#main>.inner>header>.full:first-child {
		margin-top: -1.25rem !important
	}
	#main>.inner>footer>.full:last-child {
		margin-bottom: -1.25rem !important
	}
	#divider01 {
		height: 1.625rem;
		line-height: 1.625rem
	}
	#divider02 {
		height: 0.5rem;
		line-height: 0.5rem
	}
	#divider03 {
		height: 1.625rem;
		line-height: 1.625rem
	}
	#image01 {
		margin-top: 1.40625rem !important;
		margin-bottom: 1.40625rem !important
	}
	#image01 img {
		width: 9rem
	}
}
@media (max-width: 480px) {
	#main>.inner>header {
		margin-bottom: 0.984375rem
	}
	#main>.inner>footer {
		margin-top: 0.984375rem
	}
	#main>.inner>*>* {
		margin-top: 0.984375rem;
		margin-bottom: 0.984375rem
	}
}
@media (max-width: 360px) {
	#main>.inner {
		padding: 0.9375rem 0.75rem
	}
	#main>.inner>header {
		margin-bottom: 0.84375rem
	}
	#main>.inner>footer {
		margin-top: 0.84375rem
	}
	#main>.inner>*>* {
		margin-top: 0.84375rem;
		margin-bottom: 0.84375rem
	}
	#main>.inner>.full {
		margin-left: calc(-0.75rem);
		width: calc(100%+1.5rem+0.4725px);
		max-width: calc(100%+1.5rem+0.4725px)
	}
	#main>.inner>.full:first-child {
		margin-top: -0.9375rem !important
	}
	#main>.inner>.full:last-child {
		margin-bottom: -0.9375rem !important
	}
	#main>.inner>.full.screen {
		margin-left: -50vw
	}
	#main>.inner>*>.full {
		margin-left: calc(-0.75rem);
		width: calc(100%+1.5rem+0.4725px);
		max-width: calc(100%+1.5rem+0.4725px)
	}
	#main>.inner>*>.full.screen {
		margin-left: -50vw
	}
	#main>.inner>header>.full:first-child {
		margin-top: -0.9375rem !important
	}
	#main>.inner>footer>.full:last-child {
		margin-bottom: -0.9375rem !important
	}
	#buttons01 {
		width: calc(100% + 0.375rem);
		margin-left: -0.1875rem
	}
	#buttons01 li {
		max-width: calc(100% - 0.375rem);
		margin: 0.1875rem
	}
}