/*--------------------------------------------------------------
Main Style For Landing Page
----------------------------------------------------------------
CSS Index
================================================================
1. Google Font
2. Theme Default CSS
3. Helper Class
4. Main Menu Area

Main Color : 0A5588
================================================================
*/

/*==============================================================
1. Google Font
================================================================*/
@import url('https://fonts.googleapis.com/css?family=Redressed|Work+Sans:400,500,600,700,800');

/*==============================================================
2. Theme Default CSS
================================================================*/

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: #56576e;
}

input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #0A55DD;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    line-height: 1.4em;
    color: #0A55DD;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    color: #56576e;
    margin: 0;
}
/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

/* Nav bar Style*/
.navbar{
    padding: 0;
}
nav .nav-top{
    width: 100%;
    padding: .5rem 1rem;
}
nav .navbar-brand img{
    height: 48px;
}
nav .navbar-brand span{
    color: #0A55DD;
}

nav.scroll{
    background: #FFFFFF !important;
    -webkit-transition: all 0.5s 0.3s;
    transition: all 0.5s 0.3s;
    border-bottom: 1px solid rgba(0,0,0,.1)
}

nav .navbar-nav .nav-item.active a{
    color: #0A55DD;
}

.navbar-menu-icon{
    font-size: 30px;
    color: #0A55DD;
}
.navbar-toggler{
    float: right;
    margin: .5rem;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.6s infinite;
    -moz-animation: blink 0.6s infinite;
    animation: blink 0.6s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#home{
    margin: 100px 0 0 0;
    padding: 80px 0 80px 0;
}

.hero {
    /* Sizing */
    width: 100%;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;

    /* Background styles */
    /*background: url(../img/bg.png) no-repeat center -50px #fff;*/
    background-size: cover;
    background-attachment: fixed;
}

.hero-inner .name{
    font-family: 'Redressed', sans-serif;
}

#hero-2{
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 75px;
    padding: 40px 0 40px 0;
    background: url(../img/bg.png) no-repeat center -50px #fff;
    background-size: cover;
    background-attachment: fixed;
}

/*Responsive*/
@media only screen and (max-width: 576px) {
    .navbar-collapse{
        background: #FFFFFF;
        padding: .5rem 1rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .navbar-collapse{
        background: #FFFFFF;
        padding: .5rem 1rem;
    }
}

@media only screen and (min-width: 768px) and  (max-width: 992px) {
    .navbar-collapse{
        background: #FFFFFF;
        padding: .5rem 1rem;
    }
}

@media only screen and (min-width: 992px) and  (max-width: 1200px) {

}



/*----------------------------*/

.btn-style{
    /* reset */
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    /* styles */
    position: relative;
    background: linear-gradient(90deg, #0A55DD 10%, #5CDBF7 90%);
    background-size: 200% 100%;
    padding: .8rem 2rem;
    color: white !important;
    border-radius: 100px;
    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
    margin: .5rem;
}

.btn-style:hover {
    -webkit-animation: 3s linear infinite;
    animation: bruh 3s linear infinite;
}

.social-btn{
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 36px;
    height: 36px;
    /*background: linear-gradient(90deg, #F06E6C 10%, #d01916 90%);*/
    background: transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #0A55DD;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.2rem;
    border-radius: 5px;
    border: 1px solid #0A55DD;
}

.social-btn:hover, .social-btn:focus, .social-btn:active {
    -webkit-animation: 3s linear infinite;
    animation: bruh 3s linear infinite;
    color: #FFFFFF !important;
    border: 1px solid #0A55DD;
    background: #0A55DD;
}

.social-btn-inverse{
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 36px;
    height: 36px;
    /*background: linear-gradient(90deg, #F06E6C 10%, #d01916 90%);*/
    background: transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.2rem;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
}

.social-btn-inverse:hover, .social-btn-inverse:focus, .social-btn-inverse:active {
    -webkit-animation: 3s linear infinite;
    animation: bruh 3s linear infinite;
    color: #FFFFFF !important;
    border: 1px solid #0A55DD;
    background: #0A55DD;
}

@-webkit-keyframes bruh {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes bruh {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 0;
    }
}


/*Form Css*/
.form-control:focus{
    border-color: #0A55DD;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(10, 85, 221,.25);
}

#resume{
    padding-top: 100px;
}
.title{
    display: flex;
    text-transform: uppercase;
    font-weight: bolder;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
}
.title:before {
    display: -ms-inline-flexbox;
    display: inline-flex;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #0A55DD;
    margin-right: 8px;
}

#resume .education-item{
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 0 20px 0;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
}

#resume .skills .skill-item{
    display: inline-block;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    margin: 10px 10px 10px 0px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

#resume .skills span{
    font-size: 1.3rem;
}

#resume .hobby .hobby-item{
    display: inline-block;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    margin: 10px 10px 10px 0px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

/*.title{
    font-family: 'Redressed', sans-serif;
}*/

#social-icons{
    border-top: 1px solid rgba(0,0,0,.1);
}

#contact{
    padding-top: 100px;
    padding-bottom: 20px;
}

.contact-detail p{
    font-size: 1.1rem;
    line-height: 2rem;
}

#footer{
    border-top: 1px solid rgba(0,0,0,.1)
}


/*
Works Style
*/
#works{
    padding-top: 100px;
}

figure.item {
    color: #fff;
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
    background: #000000;
    border-radius: 4px;
}
figure.item * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.item img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.item figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3em 2em;
    width: 100%;
    height: 100%;
}

.description h4{
    color: #FFFFFF;
}
figure.item figcaption::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    /*border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);*/
    content: '';
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
figure.item .description{
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}

figure.item:hover .description{
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
figure.item:hover img {
    opacity: 0.5;
}
figure.item:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
@media only screen and (max-width: 576px) {
    .footer-menu, .footer-copyright{
        text-align: center;
    }
}
